<div class="span12 row">
<div class="span8">
<canvas id="arena" width="600" height="600">
    Your browser does not support Canvas.
</canvas>
</div>
<div class="span3">
<h3>
<p id="red_score">Red Score: 0</p>
<p id="blue_score">Blue Score: 0</p>
<p id="red_kill">Red Kill: 0</p>
<p id="blue_kill">Blue Kill: 0</p>
</h3>
<p><a class="btn" onClick="nextStep();">Next Step</a></p>
<p><a class="btn" onClick="prevStep();">Prev Step</a></p>
</div>
</div>
