<div id="x_pos">XPOS</div>
<div id="y_pos">YPOS</div>
<canvas id="arena" width="900" height="900">
    Your browser does not support Canvas.
</canvas>
<div class="row">
<p>
<a class="btn" onClick="nextStep();">Next Step</a>
<a class="btn" onClick="prevStep();">Prev Step</a>
</p>
</div>
