<div class="span12 row">
<div class="span8">
<canvas id="arena" width="550" height="550">
    Your browser does not support Canvas.
</canvas>
</div>
<div class="span3">
<p><a class="btn" onClick="nextStep();">Next Step</a></p>
<p><a class="btn" onClick="prevStep();">Prev Step</a></p>
</div>
</div>
