        <form class="form-horizontal" method="post">
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="old-passwd">Old Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="old-passwd" name="oldpasswd">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="new-passwd">New Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="new-passwd" name="newpasswd">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repeat-passwd">Repeat Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="repeat-passwd" name="repeatpasswd">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
            </fieldset>
        </form>
