        <div class="hero-unit">
            <h1>Welcome to War of AI</h1>
            <p>A war of Artificial Intellegence</p>
            <% if (!user) { %>
            <p>
                <a class="btn btn-large btn-primary" href="/login">Login</a>
                <a class="btn btn-large" href="/reg">Sign Up</a>
            </p>
            <% } %>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Othello</h2>
                <p>Othello is an interesting game.</p>
                <img src="/images/othello.jpg" />
                <a class="btn" href="/game/othello">Enter</a>
            </div>
            <div class="span4">
                <h2>Renju</h2>
                <p>Renju is another interesting game.</p>
                <img src="/images/renju.jpg" />
                <a class="btn" href="/game/renju">Enter</a>
            </div>
            <div class="span4">
                Other
            </div>
        </div>
