        <div class="hero-unit">
            <h1>Welcome to War of AI</h1>
            <p>A war of Artificial Intellegence</p>
            <% if (!user) { %>
            <p>
                <a class="btn btn-large btn-primary" href="/login">Login</a>
                <a class="btn btn-large" href="/reg">Sign Up</a>
            </p>
            <% } %>
        </div>
        <div class="row">
            <% game_list.forEach(function(game, index) { %>
            <% if (index <= 2) { %>
            <div class="span4">
                <h2><%= game.show_name %></h2>
                <p><%= game.desc %></p>
                <img src="/images/<%= game.img %>" />
                <a class="btn" href="/game/<%= game.name %>">Enter</a>
            </div>
            <% }}); %>
        </div>
