        <div class="hero-unit">
            <h1>Welcome to War of AI</h1>
            <p><strong>War of AI</strong> (WAI) is an online game platform for progammers. We provides many kinds of strategy games. Submit your AI program, and fight with others' programs.</p>
            <p>Enjoy it!</p>
            <% if (!user) { %>
            <p>
                <a class="btn btn-large btn-primary" href="/login">Login</a>
                <a class="btn btn-large" href="/reg">Sign Up</a>
            </p>
            <% } %>
        </div>
        <div class="row">
        <div class="span12">
            <ul class="thumbnails">
            <% game_list.forEach(function(game, index) { %>
            <% if (index <= 2) { %>
            <li class="span4">
              <div class="thumbnail">
                <a href="/game/<%= game.name %>">
                <img src="/images/<%= game.img %>" height="300"/>
                </a>
                <div class="caption">
                <h2><%= game.show_name %></h2>
                <p><a href="/game/<%= game.name %>">Enter >></a></p>
                </div>
              </div>
            </li>
            <% }}); %>
            </ul>
        </div>
        </div>
        <div class="span2 offset10">
        <a class="btn btn-primary" href='/game_list'>More Game</a>
        </div>
