        <form class="form-horizontal" method="post">
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="email" name="email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="nick">Nickname</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="nick" name="nick">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwd">Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="passwd" name="passwd">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwd2">Password Repeated</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="passwd2" name="passwd2">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            </fieldset>
        </form>
